$color-white: #fff;
$color-white-2: #f8f8f8;
$color-white-3: #ebebeb;

$color-grey-light: #ccc;
$color-grey: #979797;
$color-grey-dark: #292929;

$color-yellow: #ffd900;
$color-yellow-2: #f8df00;

$color-red-light: #ff0055;
$color-red: #f34343;
$color-red-2: red;
$color-red-dark: #830000;

$color-pink-light: #ffd1d1;
$color-pink: #ff4382;

$color-purple-light: #510077;
$color-purple: #2a006e;

$card-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
$modal-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
$form-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
$side-drawer-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
$header-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
