*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box;
}

main {
  margin-top: 5rem;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.place-form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: #fff;
}

.card {
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background-color: #fff;
}

.avatar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.user-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
}
.user-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: #fff;
  background: #292929;
}
.user-item a:hover, .user-item a:active {
  background: #ffd900;
}
.user-item__content {
  padding: 0;
  background-color: 0;
}
.user-item__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}
.user-item__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #ffd900;
}
.user-item:hover h2, .user-item:active h2, .user-item:hover h3, .user-item:active h3 {
  color: #292929;
}
.user-item__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #ffd900;
}
.user-item__info h3 {
  margin: 0;
}

.users-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ff0055;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 0 1rem;
  z-index: 5;
}
@media screen and (max-width: 56.25em) {
  .main-header {
    justify-content: flex-start;
  }
}
.main-header main {
  margin-top: 5rem;
}

.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 56.25em) {
  .main-navigation__menu-btn {
    display: flex;
  }
}
.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: #fff;
}
.main-navigation__title {
  color: #fff;
}
.main-navigation__title a {
  text-decoration: none;
  color: #fff;
}
.main-navigation__header-nav {
  display: block;
}
@media screen and (max-width: 56.25em) {
  .main-navigation__header-nav {
    display: none;
  }
}
.main-navigation__drawer-nav {
  height: 100%;
}

.nav-links {
  list-style: none;
  margin: 0 0.5rem;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 56.25em) {
  .nav-links {
    flex-direction: column;
  }
}
.nav-links li {
  margin: 1rem;
}
@media screen and (max-width: 56.25em) {
  .nav-links li {
    margin: 0;
  }
}
.nav-links a {
  border: 1px solid transparent;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}
@media screen and (max-width: 56.25em) {
  .nav-links a {
    color: #292929;
  }
}
.nav-links a:hover, .nav-links a:active, .nav-links a.active {
  background: #f8df00;
  border-color: #292929;
  color: #292929;
}
.nav-links button {
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}
@media screen and (max-width: 56.25em) {
  .nav-links button {
    border: 1px solid #292929;
    color: #292929;
  }
}
.nav-links button:focus {
  outline: none;
}
.nav-links button:hover, .nav-links button:active {
  background: #f8df00;
  color: #292929;
}
@media screen and (max-width: 56.25em) {
  .nav-links button:hover, .nav-links button:active {
    background-color: #292929;
    color: #fff;
  }
}

.side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 70%;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.place-item {
  margin: 1rem 0;
}
.place-item__content {
  padding: 0;
}
.place-item__info {
  padding: 1rem;
  text-align: center;
}
.place-item__info h2, .place-item__info h3, .place-item__info p {
  margin: 0 0 0.5rem 0;
}
.place-item__image {
  width: 100%;
  height: 20rem;
  margin-right: 1.5rem;
}
@media screen and (max-width: 56.25em) {
  .place-item__image {
    height: 12.5rem;
  }
}
.place-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.place-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}
.place-item__actions button, .place-item__actions a {
  margin: 0.5rem;
}
.place-item__modal-content {
  padding: 0;
}
.place-item__modal-actions {
  text-align: right;
}

.map-container {
  height: 20rem;
  width: 100%;
}

.place-list {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 40rem;
}

.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #ff0055;
  border-radius: 4px;
  background: #ff0055;
  color: #fff;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}
.button:focus {
  outline: none;
}
.button:hover, .button:active {
  background: #ff4382;
  border-color: #ff4382;
}
.button:disabled, .button:hover:disabled, .button:active:disabled {
  background-color: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}
.button--inverse {
  background: transparent;
  color: #ff0055;
}
.button--inverse:hover, .button--inverse:active {
  color: #fff;
  background-color: #ff0055;
}
.button--danger {
  background: #830000;
  border-color: #830000;
}
.button--danger:hover, .button--danger:active {
  background: #f34343;
  border-color: #f34343;
}
.button--small {
  font-size: 0.8rem;
}
.button--big {
  font-size: 1.5rem;
}

.modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: calc(50% - 20rem);
  width: 40rem;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}
@media screen and (max-width: 56.25em) {
  .modal {
    left: 10%;
    width: 80%;
  }
}
.modal__header {
  width: 100%;
  padding: 1rem 0.5rem;
  background: #2a006e;
  color: #fff;
}
.modal__header h2 {
  margin: 0.5rem;
}
.modal__content {
  padding: 1rem 0.5rem;
}
.modal__footer {
  padding: 1rem 0.5rem;
}

.map {
  width: 100%;
  height: 100%;
}

.form-control {
  margin: 1rem 0;
}
.form-control label, .form-control input, .form-control textarea {
  display: block;
}
.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.form-control input, .form-control textarea {
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
}
.form-control input:focus, .form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}
.form-control--invalid label, .form-control--invalid p {
  color: red;
}
.form-control--invalid input, .form-control--invalid textarea {
  background-color: red;
  background: #ffd1d1;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #510077;
  border-color: #510077 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.loading-spinner__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image-upload__preview {
  width: 13rem;
  height: 13rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
.image-upload__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}
.authentication form {
  margin-bottom: 1rem;
}
.authentication__header {
  color: #fff;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
