.form-control {
  margin: 1rem 0;

  & label,
  & input,
  & textarea {
    display: block;
  }

  & label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  & input,
  & textarea {
    width: 100%;
    font: inherit;
    border: 1px solid $color-grey-light;
    background: $color-white-2;
    padding: 0.15rem 0.25rem;

    &:focus {
      outline: none;
      background: $color-white-3;
      border-color: $color-purple-light;
    }
  }

  &--invalid {
    & label,
    & p {
      color: $color-red-2;
    }

    & input,
    & textarea {
      background-color: $color-red-2;
      background: $color-pink-light;
    }
  }
}
